
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.btn-google {
  color: #fff;
  background-color: #DD4B39;
}

.btn-google:hover {
  color: #fff;
}
